body {
    font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 40
}

.rca-panel {
    font-family: 'Inter', sans-serif;
    border-left: 4px solid #3b82f6;
    line-height: 1.6;
}

.inset-shadow-lg {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
